# **Python Tutorial - Strings Manipulation (Fall 2025)**
Instructor: Hubert Huang, Department of Business Administration, National Taiwan University

Covered chapters:
1.   String Basics
2.   Indexing & Slicing
3.   String Operations
4.   Common String Methods
5.   Loops & Conditional Statements with Strings

###**Chapter 1: String Basics**

##### 1-1 String Declaration
*   ***variable = 'string'***
*   ***variable = "string"***
*   ***variable = '''string1***

In [ ]:
a = 'NTU'
b = "DAC"
c = '''NTU
7th'''

print(a)
print(a, b)
print(c)

NTU
NTU DAC
7th

##### 1-2 String Immutability
Strings cannot be changed directly

--> Correct way: create a new string

In [ ]:
s = 'NTU 6th'
print('Original string:', s)

s2 = s[:3] + ' 7th'    # s[:3] = 'NTU'
print('New string:', s2)

Original string: NTU 6th
New string: NTU 7th

###**Chapter 2: Indexing & Slicing**

##### 2-1 Positive & Negative Indexing
*   ***list[index]*** : retrieves the element at the specified position in the list

In [ ]:
s = 'NTUDAC'
print(s[1])
print(s[-2])

T
A

##### 2-2 Slicing
*   ***list[start:end:step]*** : returns a slice of the list from the start index up to (but not including) the end index, taking elements at the given step interval.

In [2]:
s = 'NTUDAC'
print(s[2:4])
print(s[:5])
print(s[5:])
print(s[::2])

UD
NTUDA
C
NUA

###**Chapter 3: String Operations**

##### 3-1 Operations
*   ***string + string*** : concatenation
*   ***string * times*** : repetition
*   ***string_A in string_B*** : membership check
*   ***len(string)*** : number of characters

In [1]:
a, b = 'NTU', 'DAC'
c = a + ' ' + b

print(c)   # concatenation
print('7' * 10)      # repetition
print('NTU' in c)     # membership check
print('ntu' in c)     # case-sensitive
print(len(c))

NTU DAC
7777777777
True
False
7

##### 3-2 Unicode
*   ***ord(character)*** : convert a character into a Unicode
*   ***chr(Unicode)*** : convert a Unicode into a character

In [5]:
s = 'NTUDAC'
for ch in s:
    print(ch, ord(ch))

print(chr(65))
print(ord('A'))

N 78
T 84
U 85
D 68
A 65
C 67
A
65

###**Chapter 4: Common String Methods**

##### 4-1 Case Conversion
*   ***string.upper()*** : converts all characters in the string to uppercase
*   ***string.lower()*** : converts all characters in the string to lowercase
*   ***string.title()*** : converts the first character of each word to uppercase and the rest to lowercase
*   ***string.capitalize()*** : converts only the first character of the string to uppercase and the rest to lowercase

In [6]:
s = 'NTU DAC'
print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())

NTU DAC
ntu dac
Ntu Dac
Ntu dac

##### 4-2 Strip
*   ***string.strip(characters)*** : Removes specified characters (or whitespace) from both the beginning and the end of the string.
*   ***string.lstrip(characters)*** : Removes specified characters (or whitespace) only from the beginning (left side) of the string.
*   ***string.rstrip(characters)*** : Removes specified characters (or whitespace) only from the end (right side) of the string.

In [17]:
s = ' NTU DAC '
print(s)

print(s.strip())
print(s.lstrip())
print(s.rstrip())

print("======")
s2 = s.strip()    # s2 = 'NTU DAC'

print(s2.strip('N'))
print(s2.lstrip('N'))
print(s2.rstrip('C'))

 NTU DAC
NTU DAC
NTU DAC
 NTU DAC
======
TU DAC
TU DAC
NTU DA

##### 4-3 Search, Count, Replace
*   ***string_A.find(string_B)*** : returns the index of the first occurrence of the substring B in string A
*   ***string_A.count(string_B)*** : counts how many times the substring B appears in string A
*   ***string_A.replace(string_B, string_C)*** : replaces all occurrences of string B with string C in string A and returns a new string

In [19]:
s = 'NTU DAC 7th and NTU DAC 6th'
print(s.find('th'))
print(s.count('DAC'))
print(s.replace('NTU', 'NCCU'))

9
2
NCCU DAC 7th and NCCU DAC 6th

##### 4-4 Split & Join
*   ***string.split(delimiter)*** : splits a string into a list of substrings based on a specified delimiter
*   ***separator.join(iterable_elements)*** : concatenates the elements of an iterable into a single string, using the given string as a separator

In [20]:
s = 'NTU,DAC,7th,6th'
s2 = s.split(',')
print(s2)
print('-'.join(s2))

['NTU', 'DAC', '7th', '6th']
NTU-DAC-7th-6th

###**Chapter 5: Loops & Conditional Statements with Strings**

##### 5-1 Basic Checks
*   ***string.isdigit()*** : returns True if all characters in the string are digits
*   ***str.isalpha()*** : returns True if all characters in the string are alphabetic letters
*   ***str.isspace()*** : returns True if all characters in the string are whitespace characters

In [22]:
s = 'NTU DAC 7th'    # 1 digits, 8 letters, 2 spaces
digits = letters = spaces = 0
for ch in s:
    if ch.isdigit():
        digits += 1
    elif ch.isalpha():
        letters += 1
    elif ch.isspace():
        spaces += 1
print(digits, letters, spaces)

1 8 2

##### 5-2 Upper, Lower, Others
*   ***string.isupper()*** : returns True if all alphabetic characters in the string are uppercase.
*   ***string.islower()*** : returns True if all alphabetic characters in the string are lowercase

In [25]:
t = 'National Taiwan University 2025'    # 3 uppercase letters, 21 lowercase letters, 4 digits
upp = low = other = 0
for ch in t:
    if ch.isupper():
        upp += 1
    elif ch.islower():
        low += 1
    elif not ch.isspace():
        other += 1
print(upp, low, other)

3 21 4

##### 5-3 Simple Word Frequency
*   ***dictionary.get(key, default)*** : returns the value associated with the specified key in a dictionary, or the given default value if the key is not found

In [28]:
text = 'NTU DAC 7th and NTU DAC 6th'    # 2 NTU, 2 DAC, 1 7th, 1 and, 1 6th
freq = {}
for word in text.lower().split():
    freq[word] = freq.get(word, 0) + 1
print(freq)

{'ntu': 2, 'dac': 2, '7th': 1, 'and': 1, '6th': 1}

###**Congratulations!**

You have already learned the basic string manipulation techniques in Python.

If you find any mistakes in the above content or have further questions, please feel free to contact me anytime.